.wrapper-footer {
  backgroud: #000;
}


/*header logo*/
.logo img {
  height: 50%;
  width: 35px;
}

.footer-logo img{
    width: 100%;
}

fieldset .field {
    margin: 0 0 10px;
}

.save-btn {
    width: 50%;
}
.text-right {
    text-align: right;
}

.btn-set {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
}

table {
    color: #333;
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    border: 1px solid #CCC;
    height: 30px;
}

th {
    background: #f3f3f3 none repeat scroll 0 0;
    font-weight: bold;
    text-transform: uppercase;
}
th, td{
    padding: 2px 10px;
    text-align: center;
}

td {
    background: #FAFAFA;
    text-align: center;
}
.custom-btn {
    border: 1px solid;
    padding: 8px;
}
.text-right.add-btn-section {
    padding: 0 20px 20px 0;
}

.custom-btn:hover, .custom-btn:focus,
.custom-btn:visited:hover, .custom-btn:visited:focus {
    text-decoration: none;
}

section.reference-section h1 {
    margin-bottom: 0;
}

.text-danger {
    color: red;
}
